/* GridExample.css */

.card-hover {
  transition: transform 0.3s, box-shadow 0.3s;
}


.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 235, 235, 0.822);
  transition-duration: 1s;
  
}
